header {
	border-bottom-width: 1px;
	height: 70px;
	width: 100%;
	border-color: #CCCCCC;
	border-bottom: solid;

}

.logo{
	content: url(../images/logo.png);
	margin-left: 20px;
	height: 100%;
	width: 142px;
	background-repeat: no-repeat;
	background-position: center;
}
